modules = ["web", "python-3.12"]
run = "py manage.py runserver"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "py manage.py runserver"]

[workflows]
runButton = "Django Server"

[[workflows.workflow]]
name = "Django Server"
author = 43362360
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python manage.py migrate"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python manage.py runserver 0.0.0.0:5000"
