{% extends 'core/layout.html' %}

{% block title %}Patients{% endblock %}

{% block content %}
<div class="flex flex-wrap justify-between gap-3 p-4">
              <p class="text-[#0d141c] tracking-light text-[32px] font-bold leading-tight min-w-72">Patients</p>
              <button
                class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-lg h-8 px-4 bg-[#e7edf4] text-[#0d141c] text-sm font-medium leading-normal"
              >
                <span class="truncate">New Patient</span>
              </button>
            </div>
            <div class="px-4 py-3">
              <label class="flex flex-col min-w-40 h-12 w-full">
                <div class="flex w-full flex-1 items-stretch rounded-lg h-full">
                  <div
                    class="text-[#49739c] flex border-none bg-[#e7edf4] items-center justify-center pl-4 rounded-l-lg border-r-0"
                    data-icon="MagnifyingGlass"
                    data-size="24px"
                    data-weight="regular"
                  >
                    <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                      <path
                        d="M229.66,218.34l-50.07-50.06a88.11,88.11,0,1,0-11.31,11.31l50.06,50.07a8,8,0,0,0,11.32-11.32ZM40,112a72,72,0,1,1,72,72A72.08,72.08,0,0,1,40,112Z"
                      ></path>
                    </svg>
                  </div>
                  <input
                    placeholder="Search patients"
                    class="form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-lg text-[#0d141c] focus:outline-0 focus:ring-0 border-none bg-[#e7edf4] focus:border-none h-full placeholder:text-[#49739c] px-4 rounded-l-none border-l-0 pl-2 text-base font-normal leading-normal"
                    value=""
                  />
                </div>
              </label>
            </div>
            <div class="px-4 py-3 @container">
              <div class="flex overflow-hidden rounded-lg border border-[#cedbe8] bg-slate-50">
                <table class="flex-1">
                  <thead>
                    <tr class="bg-slate-50">
                      <th class="table-d9076056-ba56-4dc1-b8fe-8f444ba4cb1f-column-120 px-4 py-3 text-left text-[#0d141c] text-sm font-medium leading-normal">Name</th>
                      <th class="table-d9076056-ba56-4dc1-b8fe-8f444ba4cb1f-column-240 px-4 py-3 text-left text-[#0d141c] text-sm font-medium leading-normal">
                        Date of Birth
                      </th>
                      <th class="table-d9076056-ba56-4dc1-b8fe-8f444ba4cb1f-column-360 px-4 py-3 text-left text-[#0d141c] text-sm font-medium leading-normal">Phone</th>
                      <th class="table-d9076056-ba56-4dc1-b8fe-8f444ba4cb1f-column-480 px-4 py-3 text-left text-[#0d141c] text-sm font-medium leading-normal">Email</th>
                      <th class="table-d9076056-ba56-4dc1-b8fe-8f444ba4cb1f-column-600 px-4 py-3 text-left text-[#0d141c] text-sm font-medium leading-normal">
                        Last Visit
                      </th>
                      <th class="table-d9076056-ba56-4dc1-b8fe-8f444ba4cb1f-column-720 px-4 py-3 text-left text-[#0d141c] text-sm font-medium leading-normal">
                        Actions
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="border-t border-t-[#cedbe8]">
                      <td class="table-d9076056-ba56-4dc1-b8fe-8f444ba4cb1f-column-120 h-[72px] px-4 py-2 text-[#0d141c] text-sm font-normal leading-normal">
                        Sophia Clark
                      </td>
                      <td class="table-d9076056-ba56-4dc1-b8fe-8f444ba4cb1f-column-240 h-[72px] px-4 py-2 text-[#49739c] text-sm font-normal leading-normal">
                        1985-03-15
                      </td>
                      <td class="table-d9076056-ba56-4dc1-b8fe-8f444ba4cb1f-column-360 h-[72px] px-4 py-2 text-[#49739c] text-sm font-normal leading-normal">
                        (555) 123-4567
                      </td>
                      <td class="table-d9076056-ba56-4dc1-b8fe-8f444ba4cb1f-column-480 h-[72px] px-4 py-2 text-[#49739c] text-sm font-normal leading-normal">
                        sophia.clark@email.com
                      </td>
                      <td class="table-d9076056-ba56-4dc1-b8fe-8f444ba4cb1f-column-600 h-[72px] px-4 py-2 text-[#49739c] text-sm font-normal leading-normal">
                        2023-11-20
                      </td>
                      <td class="table-d9076056-ba56-4dc1-b8fe-8f444ba4cb1f-column-720 h-[72px] px-4 py-2 text-[#49739c] text-sm font-bold leading-normal tracking-[0.015em]">
                        View
                      </td>
                    </tr>
                    <tr class="border-t border-t-[#cedbe8]">
                      <td class="table-d9076056-ba56-4dc1-b8fe-8f444ba4cb1f-column-120 h-[72px] px-4 py-2 text-[#0d141c] text-sm font-normal leading-normal">
                        Ethan Bennett
                      </td>
                      <td class="table-d9076056-ba56-4dc1-b8fe-8f444ba4cb1f-column-240 h-[72px] px-4 py-2 text-[#49739c] text-sm font-normal leading-normal">
                        1992-07-22
                      </td>
                      <td class="table-d9076056-ba56-4dc1-b8fe-8f444ba4cb1f-column-360 h-[72px] px-4 py-2 text-[#49739c] text-sm font-normal leading-normal">
                        (555) 987-6543
                      </td>
                      <td class="table-d9076056-ba56-4dc1-b8fe-8f444ba4cb1f-column-480 h-[72px] px-4 py-2 text-[#49739c] text-sm font-normal leading-normal">
                        ethan.bennett@email.com
                      </td>
                      <td class="table-d9076056-ba56-4dc1-b8fe-8f444ba4cb1f-column-600 h-[72px] px-4 py-2 text-[#49739c] text-sm font-normal leading-normal">
                        2023-12-05
                      </td>
                      <td class="table-d9076056-ba56-4dc1-b8fe-8f444ba4cb1f-column-720 h-[72px] px-4 py-2 text-[#49739c] text-sm font-bold leading-normal tracking-[0.015em]">
                        View
                      </td>
                    </tr>
                    <tr class="border-t border-t-[#cedbe8]">
                      <td class="table-d9076056-ba56-4dc1-b8fe-8f444ba4cb1f-column-120 h-[72px] px-4 py-2 text-[#0d141c] text-sm font-normal leading-normal">
                        Olivia Hayes
                      </td>
                      <td class="table-d9076056-ba56-4dc1-b8fe-8f444ba4cb1f-column-240 h-[72px] px-4 py-2 text-[#49739c] text-sm font-normal leading-normal">
                        1978-11-10
                      </td>
                      <td class="table-d9076056-ba56-4dc1-b8fe-8f444ba4cb1f-column-360 h-[72px] px-4 py-2 text-[#49739c] text-sm font-normal leading-normal">
                        (555) 246-8013
                      </td>
                      <td class="table-d9076056-ba56-4dc1-b8fe-8f444ba4cb1f-column-480 h-[72px] px-4 py-2 text-[#49739c] text-sm font-normal leading-normal">
                        olivia.hayes@email.com
                      </td>
                      <td class="table-d9076056-ba56-4dc1-b8fe-8f444ba4cb1f-column-600 h-[72px] px-4 py-2 text-[#49739c] text-sm font-normal leading-normal">
                        2023-10-15
                      </td>
                      <td class="table-d9076056-ba56-4dc1-b8fe-8f444ba4cb1f-column-720 h-[72px] px-4 py-2 text-[#49739c] text-sm font-bold leading-normal tracking-[0.015em]">
                        View
                      </td>
                    </tr>
                    <tr class="border-t border-t-[#cedbe8]">
                      <td class="table-d9076056-ba56-4dc1-b8fe-8f444ba4cb1f-column-120 h-[72px] px-4 py-2 text-[#0d141c] text-sm font-normal leading-normal">
                        Liam Foster
                      </td>
                      <td class="table-d9076056-ba56-4dc1-b8fe-8f444ba4cb1f-column-240 h-[72px] px-4 py-2 text-[#49739c] text-sm font-normal leading-normal">
                        1989-05-03
                      </td>
                      <td class="table-d9076056-ba56-4dc1-b8fe-8f444ba4cb1f-column-360 h-[72px] px-4 py-2 text-[#49739c] text-sm font-normal leading-normal">
                        (555) 135-7924
                      </td>
                      <td class="table-d9076056-ba56-4dc1-b8fe-8f444ba4cb1f-column-480 h-[72px] px-4 py-2 text-[#49739c] text-sm font-normal leading-normal">
                        liam.foster@email.com
                      </td>
                      <td class="table-d9076056-ba56-4dc1-b8fe-8f444ba4cb1f-column-600 h-[72px] px-4 py-2 text-[#49739c] text-sm font-normal leading-normal">
                        2023-11-28
                      </td>
                      <td class="table-d9076056-ba56-4dc1-b8fe-8f444ba4cb1f-column-720 h-[72px] px-4 py-2 text-[#49739c] text-sm font-bold leading-normal tracking-[0.015em]">
                        View
                      </td>
                    </tr>
                    <tr class="border-t border-t-[#cedbe8]">
                      <td class="table-d9076056-ba56-4dc1-b8fe-8f444ba4cb1f-column-120 h-[72px] px-4 py-2 text-[#0d141c] text-sm font-normal leading-normal">
                        Ava Morgan
                      </td>
                      <td class="table-d9076056-ba56-4dc1-b8fe-8f444ba4cb1f-column-240 h-[72px] px-4 py-2 text-[#49739c] text-sm font-normal leading-normal">
                        1995-09-18
                      </td>
                      <td class="table-d9076056-ba56-4dc1-b8fe-8f444ba4cb1f-column-360 h-[72px] px-4 py-2 text-[#49739c] text-sm font-normal leading-normal">
                        (555) 369-1245
                      </td>
                      <td class="table-d9076056-ba56-4dc1-b8fe-8f444ba4cb1f-column-480 h-[72px] px-4 py-2 text-[#49739c] text-sm font-normal leading-normal">
                        ava.morgan@email.com
                      </td>
                      <td class="table-d9076056-ba56-4dc1-b8fe-8f444ba4cb1f-column-600 h-[72px] px-4 py-2 text-[#49739c] text-sm font-normal leading-normal">
                        2023-12-10
                      </td>
                      <td class="table-d9076056-ba56-4dc1-b8fe-8f444ba4cb1f-column-720 h-[72px] px-4 py-2 text-[#49739c] text-sm font-bold leading-normal tracking-[0.015em]">
                        View
                      </td>
                    </tr>
                    <tr class="border-t border-t-[#cedbe8]">
                      <td class="table-d9076056-ba56-4dc1-b8fe-8f444ba4cb1f-column-120 h-[72px] px-4 py-2 text-[#0d141c] text-sm font-normal leading-normal">
                        Jackson Cole
                      </td>
                      <td class="table-d9076056-ba56-4dc1-b8fe-8f444ba4cb1f-column-240 h-[72px] px-4 py-2 text-[#49739c] text-sm font-normal leading-normal">
                        1975-08-12
                      </td>
                      <td class="table-d9076056-ba56-4dc1-b8fe-8f444ba4cb1f-column-360 h-[72px] px-4 py-2 text-[#49739c] text-sm font-normal leading-normal">
                        (555) 654-3210
                      </td>
                      <td class="table-d9076056-ba56-4dc1-b8fe-8f444ba4cb1f-column-480 h-[72px] px-4 py-2 text-[#49739c] text-sm font-normal leading-normal">
                        jackson.cole@email.com
                      </td>
                      <td class="table-d9076056-ba56-4dc1-b8fe-8f444ba4cb1f-column-600 h-[72px] px-4 py-2 text-[#49739c] text-sm font-normal leading-normal">
                        2023-10-20
                      </td>
                      <td class="table-d9076056-ba56-4dc1-b8fe-8f444ba4cb1f-column-720 h-[72px] px-4 py-2 text-[#49739c] text-sm font-bold leading-normal tracking-[0.015em]">
                        View
                      </td>
                    </tr>
                    <tr class="border-t border-t-[#cedbe8]">
                      <td class="table-d9076056-ba56-4dc1-b8fe-8f444ba4cb1f-column-120 h-[72px] px-4 py-2 text-[#0d141c] text-sm font-normal leading-normal">
                        Mia Hughes
                      </td>
                      <td class="table-d9076056-ba56-4dc1-b8fe-8f444ba4cb1f-column-240 h-[72px] px-4 py-2 text-[#49739c] text-sm font-normal leading-normal">
                        1991-12-30
                      </td>
                      <td class="table-d9076056-ba56-4dc1-b8fe-8f444ba4cb1f-column-360 h-[72px] px-4 py-2 text-[#49739c] text-sm font-normal leading-normal">
                        (555) 987-1234
                      </td>
                      <td class="table-d9076056-ba56-4dc1-b8fe-8f444ba4cb1f-column-480 h-[72px] px-4 py-2 text-[#49739c] text-sm font-normal leading-normal">
                        mia.hughes@email.com
                      </td>
                      <td class="table-d9076056-ba56-4dc1-b8fe-8f444ba4cb1f-column-600 h-[72px] px-4 py-2 text-[#49739c] text-sm font-normal leading-normal">
                        2023-11-18
                      </td>
                      <td class="table-d9076056-ba56-4dc1-b8fe-8f444ba4cb1f-column-720 h-[72px] px-4 py-2 text-[#49739c] text-sm font-bold leading-normal tracking-[0.015em]">
                        View
                      </td>
                    </tr>
                    <tr class="border-t border-t-[#cedbe8]">
                      <td class="table-d9076056-ba56-4dc1-b8fe-8f444ba4cb1f-column-120 h-[72px] px-4 py-2 text-[#0d141c] text-sm font-normal leading-normal">
                        Aiden Parker
                      </td>
                      <td class="table-d9076056-ba56-4dc1-b8fe-8f444ba4cb1f-column-240 h-[72px] px-4 py-2 text-[#49739c] text-sm font-normal leading-normal">
                        1987-06-05
                      </td>
                      <td class="table-d9076056-ba56-4dc1-b8fe-8f444ba4cb1f-column-360 h-[72px] px-4 py-2 text-[#49739c] text-sm font-normal leading-normal">
                        (555) 321-6547
                      </td>
                      <td class="table-d9076056-ba56-4dc1-b8fe-8f444ba4cb1f-column-480 h-[72px] px-4 py-2 text-[#49739c] text-sm font-normal leading-normal">
                        aiden.parker@email.com
                      </td>
                      <td class="table-d9076056-ba56-4dc1-b8fe-8f444ba4cb1f-column-600 h-[72px] px-4 py-2 text-[#49739c] text-sm font-normal leading-normal">
                        2023-12-08
                      </td>
                      <td class="table-d9076056-ba56-4dc1-b8fe-8f444ba4cb1f-column-720 h-[72px] px-4 py-2 text-[#49739c] text-sm font-bold leading-normal tracking-[0.015em]">
                        View
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <style>
                          @container(max-width:120px){.table-d9076056-ba56-4dc1-b8fe-8f444ba4cb1f-column-120{display: none;}}
                @container(max-width:240px){.table-d9076056-ba56-4dc1-b8fe-8f444ba4cb1f-column-240{display: none;}}
                @container(max-width:360px){.table-d9076056-ba56-4dc1-b8fe-8f444ba4cb1f-column-360{display: none;}}
                @container(max-width:480px){.table-d9076056-ba56-4dc1-b8fe-8f444ba4cb1f-column-480{display: none;}}
                @container(max-width:600px){.table-d9076056-ba56-4dc1-b8fe-8f444ba4cb1f-column-600{display: none;}}
                @container(max-width:720px){.table-d9076056-ba56-4dc1-b8fe-8f444ba4cb1f-column-720{display: none;}}
              </style>
            </div>
{% endblock %}